.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left {
  flex: 0.5;
  min-width: 70px;
  background-color: white;
  color: grey;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 5px;
  padding-right: 10px;
  background-color: #2b3e5c;
}

.header__right:hover {
  background-color: #4f5866;
}

.header__right > h4 {
  margin-left: 7px;
}
